img {
    width: 40vh;
}
.linkDiv{
  padding-bottom: 2vh;
  font-size: larger;
}
.linkDiv2{
  padding-bottom: 29.6vh;
}
@media only screen and (max-width: 768px) {
    .linkDiv {
        padding-bottom: 1vh;
    }
    .linkDiv2 {
        padding-bottom: 15vh;
    }
    
}